<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Challenge Task: Group 1</title>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link href="/webjars/tether/1.4.0/dist/css/tether.min.css" rel="stylesheet">
<link href="/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css" rel="stylesheet">
<link href="/webjars/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="/styles.css" rel="stylesheet">
</head>

<body>
	<div id="app" v-if="!isLoading">
		<div id="logout" v-if="auth.authenticated" @click="logout">
			<i class="fa fa-sign-out"></i>
			<span class="text">Logout</span>
		</div>
		<div id="login" v-if="!auth.authenticated">
			<div class="logo">
				<div class="image"></div>
				<div class="text">Challenge Task</div>
			</div>
			<form>
				<label>
					<span>User Name</span>
					<input type="text" name="username" v-model="input.loginUsername" :disabled="input.loginUsernameDisabled" autofocus>
				</label>
				<button class="submit fa fa-send" @click.prevent="submitLogin" :disabled="input.loginUsernameDisabled"></button>
			</form>
		</div>
		<div id="messenger" v-if="auth.authenticated">
			<div class="websocket-lost" @click="reload" v-if="!websockets.connected && websockets.initialized">
				<div>
					<div class="text-1">Connection Lost!</div>
					<i class="fa fa-refresh"></i>
					<div class="text-2">Please refresh the page.</div>
				</div>
			</div>
			<div class="left-column">
				<div class="logo">
					<div class="image"></div>
					<div class="text">Challenge Task</div>
				</div>
				<div class="add-contact">
					<form>
						<input placeholder="Add contact..." v-model="input.addContactInput" :disabled="input.addContactInputDisabled" ref="addContactInput" autofocus>
						<button class="submit fa fa-send" @click.prevent="addContact" :disabled="input.addContactInputDisabled"></button>
					</form>
				</div>
				<div class="contacts">
					<div class="contact" v-for="contact in chat.contacts" :class="{'selected': contact.name === chat.selectedContact}" @click="contact.name === chat.selectedContact ? chat.selectedContact = '' : chat.selectedContact = contact.name">
						<div class="user"></div>
						<div class="name">{{ contact.name }}</div>
						<div class="online-status" :class="{'online':contact.online}">
							<i class="fa fa-circle"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="right-column" v-if="chat.selectedContact === ''">
				<div class="start">
					<div class="zebra"></div>
					<div class="start-text">
						<i class="fa fa-info-circle"></i>
						Please choose an existing contact or add a new one on the left side.
					</div>
				</div>
			</div>
			<div class="right-column" v-if="chat.selectedContact !== ''">
				<div class="receiver">
					<div>
						<div class="to">
						<span>To:</span>
							<div class="contact">
								<div class="user"></div>
								<div class="name">
									{{ chat.selectedContact }}
									<i class="online-status fa fa-circle" :class="{'online': currentChatContact.online}"></i>
								</div>
							</div>
						</div>
						<div class="from">
							<span>From:</span>
							<div class="contact">
								<div class="user"></div>
								<div class="name">{{ auth.username }}</div>
							</div>
						</div>
					</div>
				</div>
				<div class="message-box">
					<div class="no-message" v-if="currentChatMessages.length === 0">
						<i class="fa fa-ban"></i>
						No message has been sent yet.
					</div>
					
					<div class="message-row" v-for="message in currentChatMessages" :class="{ 'left': !message.isOwnMessage, 'right': message.isOwnMessage }">
						<div class="message">
							<i class="approval fa fa-check" v-if="message.approved"></i>
							{{ message.content }}
						</div>
					</div>
				</div>
				<form>
					<div class="input">
						<input type="text" placeholder="Write a message" v-model="input.messageInput" :disabled="input.messageInputDisabled || !currentChatContact.online" ref="messageInput" autofocus>
						<button class="fa fa-send submit" @click.prevent="submitMessage" :disabled="input.messageInputDisabled || !currentChatContact.online"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script src="/webjars/jquery/3.1.0/jquery.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="/webjars/tether/1.4.0/dist/js/tether.min.js"></script>
	<script src="/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js"></script>
	<script src="/webjars/vue/2.2.4/dist/vue.js"></script>
	<script src="/webjars/vue-resource/1.2.1/dist/vue-resource.js"></script>
	<script src="/app.js"></script>
</body>
</html>
